@addTagHelper *, Odev-I

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    <contentManage title="Başlık"; title-color="red"; text="Paragraf kısmı Test"; text-color="blue"></contentManage>
</body>
</html>